html{
    background-image: url("https://images.unsplash.com/photo-1692317785860-2ec5796434f2?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGZvbmRvJTIwZGUlMjBwYW50YWxsYSUyMGRlJTIwbm9jaGV8ZW58MHx8MHx8fDA%3D");
    color: #ffffff;
    font-family:monospace;
}

main{
    display: flex;
    justify-content: space-around; /* en eje x */
    align-items: center; /* en eje y */
    height: 100vh;
}

label{
    display: block;
}

main{
    filter: blur(0px);
}

section{
    background-color: rgba(91, 90, 91, 0.201);
    border: 3px solid rgba(78, 76, 76, 0.35);
    padding: 50px;
    border-radius: 50px;
    z-index: 1;
}

.username{
    padding: 10px;
}

.contra{
    padding: 10px;
}

button{
    border-radius: 10px;
}

.boton{
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: blueviolet;
    z-index: 0;
}